@* For List of items fetched from DB is used IEnumerable type wrapping the model data*@
@model IEnumerable<StripeShopWebApp.Models.Product>

@{
    ViewData["Title"] = "Products";
}


<!DOCTYPE html>
<html>
<head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-3">
                    <div class="card row text-center bg-secondary text-light me-2 mb-2">
                        <div class="col-12 px-0">
                            <img src="@item.ImageUrl" alt=$"{@item.Name} Picture" class="w-100" style="height:200px; border-radius: 0.25rem 0.25rem 0 0;" />
                        </div>
                        <div class="col-12">
                            <p class="my-2">@item.Name</p>
                        </div>
                        <hr />
                        <div class="col-12" style="height:150px;">
                            <p>@item.Description</p>
                        </div>
                        <div class="col-12 p-0 pt-0">
                            <form asp-action="Checkout" method="POST">
                                <input type="hidden" name="Id" value="@item.Id"/>
                                <input type="hidden" name="PriceId" value="@item.PriceId" />
                                <button class="btn btn-dark w-100" type="submit" id="checkout-button">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>